/* Imported Sources */

@font-face {
    font-family:TitilliumWeb-Black;
    src: url(../assets/Fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: Titillim-Web;
    src: url(../assets/Fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family:TitilliumWeb-Bold;
    src: url(../assets/Fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: Quick-Sand;
    src: url(../assets/Fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../assets/Fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}


/* Informations Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-grid{
    width: 90%;
    max-width: 1200px;
    margin:0 auto;
}


/********************************************************* Mobile First ***************************************************************/

/* - - - - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - -  */

.header-bottom{
    width: 100%;
}

.header-flex{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header{
    height: 60px;
    background-color: #1b1426;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.header-top{
    display: none;
}

#mobile {
    display: block;
}

/* - - - - - - - - - - - - - - - Header-Bottom Menu - - - - - - - - - - - - - - - - */

.MostrarMenu{
    left: 0;
}

header nav {
   background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
   backdrop-filter: blur(6px);

   position: fixed;
   top: 60px;
   left: -75%;
   flex-direction: column;
   height: 606px;
   width: 75%;
   display: flex;
   align-items: center;
   z-index: 10000;

   transition: left 0.2s;

   position: fixed;
}

/* Text Formatation */

header nav a{
    color: white;
    text-decoration: none;
}

header nav a{
    border-bottom: 1px solid #F9AA01;
    width: 100%;
    height: 85px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

header #navmenu{
    display: flex;
    align-items: center;

    font-family: "Quick-Sand";
    font-size: 16px;
}

header .header-bottom nav>a:hover {
    color: #F9AA01;
}

#telefone,
#email{
    color: white;
}

/* Midia Icons */

.midia{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;

    width: 100%;
    height: 40px;
}

.midia a{
    border-bottom: none;
}

/* Menu Contacts */

#contato1{
    border-bottom: 1px solid #F9AA01;

    width: 100%;
    height: 85px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

}

#contato2{
    width: 100%;
    height: 85px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

/* Icons Formatation */

#telephone{
    width: 30px;
    height: 30px;
}

#Email{
    width: 30px;
    height: 30px;
}

#Facebook{
    width: 13px;
    height: 20px;
}

#Icons{
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Icon More */

#icon-user_menu {
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));

    position: fixed;
    top: 60px;
    right: -80px;
    flex-direction: column;
    height: 200px;
    width: 80px;

    transition: right 0.2s;
}

#icon-user_menu > a {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 10px;
}

.MostrarMais{
    right: 0 !important;
}

#profile,
#mall,
#search{
    width: 45px;
    height: 45px;
}





/***************************************************************** Section Main *******************************************************/

.About{
    background-image: url(../images/Imagem\ Banner.png);
    height: 606px;

    display: flex;
    margin-top: 60px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

/* Botao Sobre */

a h2#ButtonAbout{
    color: #1b1426;

    width: 171px;
    height: 40px;

    background-color: #F9AA01;
    border-radius: 8px;

    font-family: "TitilliumWeb-Bold";
    font-size: 24px;
    font-weight: Bold;
    text-transform: none;
    letter-spacing: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 580px;
    left: calc(50% - 85.5px)
}

/* Tittle SectionAbout */

h1#LigaGamer{
    width: 272px;
    height: 66px;

    color: white;

    font-family: "TitilliumWeb-Black";
    font-size: 40px;
    text-shadow: 0 0 7px #FD4255;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    left: calc(50% - 136px);
}

/* - - - - - - - - - - - - - - - - Section GamesNews - - - - - - - - - - - - - - - -  */

.GamesSponsorship{
    height: 590px;
    width: 100%;

    background-color: #1b1426;

    display: flex;
    align-items: center;
    flex-direction: column;
}



/* GamesCard FIFA23 and CS-GO */

.Card-FIFA23{
    width: 335px;
    height: 185px;

    position: relative;
    top: 60px;
}

#FIFA{
    position: absolute;

    z-index: 1000;
}

#BackgroundGradiente{
    background-image: linear-gradient(to top, rgba(147, 147, 147, 0.6), rgba(0, 0, 0, 0.144));


    width: 335px;
    height: 40px;

    border-radius: 6px;

    position: absolute;
    top: 145px;

    z-index: 1001;
}

.parallelogram{
    background-color: #F9AA01;
    width: 131px;
    height: 24px;
    -webkit-transform: skew(-50deg);
    -moz-transform: skew(-50deg);
    -o-transform: skew(-50deg);

    position: absolute;
    top: 153px;
    left: 36px;

    z-index: 1002;
}

#ButtonCard-FIFA{
    font-family: "TitilliumWeb-Bold";
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 131px;
    height: 24px;

    position: absolute;
    top: 153px;
    left: 35px;

    z-index: 1003;
}

.Card-CS{
    width: 335px;
    height: 185px;

    position: relative;
    top: 160px;
}

#CS{
    position: absolute;

    z-index: 1000;
}

#BackgroundGradiente-2{
    background-image: linear-gradient(to top, rgba(147, 147, 147, 0.6), rgba(0, 0, 0, 0.144));

    width: 335px;
    height: 40px;

    border-radius: 6px;

    position: absolute;
    top: 145px;

    z-index: 1001;
}

.parallelogram-2{
    background-color: #F9AA01;
    width: 131px;
    height: 24px;
    -webkit-transform: skew(-50deg);
    -moz-animation: skew(-50deg);
    -o-transform: skew(-50deg);

    position: absolute;
    top: 153px;
    left: 36px;

    z-index: 1002;
}

#ButtonCard-CS{
    font-family: "TitilliumWeb-Bold";
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 131px;
    height: 24px;

    position: absolute;
    top: 153px;
    left: 35px;

    z-index: 1003;
}

/*  - - - - - - - - - - - - - - - Section Join Progamer - - - - - - - - - - - - - - - - */

.Team-Progamer{
    width: 100%;
    height: 1535px;

    background-color: #F9AA01;
}

.TittleProgamer{
    width: 336px;
    height: 62px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    top: 28px;
}

.TittleProgamer h2{
    color: #1b1426;
    font-family: "TitilliumWeb-Black";
    font-size: 18px;

    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;

    width: 336px;
}

.TittleProgamer hr{
    background-color: #1b1426;

    border: 1px solid transparent;

    width: 204px;
}

/* Section Champions Killjoy and Jinks */

#KJ-image{
    width: 292px;
    height: 492px;

    position: relative;
    top: 161px;

    left: calc(50% - 146px);
}

.BoxKJ{
    width: 236px;
    height: 288px;

    position: relative;
    top: -200px;
    left: 95px;

    display: flex;
    justify-content: center;

}

#boxgradiente-kj{
    width: 236px;
    height: 288px;

    border-radius: 8px;

    background-image: linear-gradient(to right bottom, rgba(122, 49, 236, 0.2) ,rgba(47, 7, 109, 0.83));
    backdrop-filter: blur(8px);
}

#IconConsole{
    position: absolute;
    top: 13px;
}
h3{
    position: absolute;
    top:118px;

    font-family: "TitilliumWeb-Black";
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: 0px 0px 5px #C6A5E5;
}


#games,
#teachers{
    width: 163px;
    height: 52px;

    position: absolute;
    top: 161px;

    font-family: "Quick-Sand";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: justify;

    color: #FFFFFF;

}

.BoxJINKS{
    width: 236px;
    height: 288px;

    position: relative;
    bottom: 300px;

    display: flex;
    justify-content: center;

}

#Jinks-image{
    width: 322px;
    height: 428px;

    position: relative;
    top: 10px;

    left: calc(50% - 161px);
}

#boxgradiente-jinks{
    width: 236px;
    height: 288px;

    border-radius: 8px;

    background-image: linear-gradient(to right bottom, rgba(122, 49, 236, 0.2) ,rgba(47, 7, 109, 0.83));
    backdrop-filter: blur(8px);
}

#UserGamer{
    position: absolute;
    top: 13px;
}

.Jinks{
    height: 428px;
}

/* - - - - - - - - - - - - - - - - - Section GamesNews - - - - - - - - - - - - - - - - - */

.GamesNews{
    height: 3675px;
    width: 100%;

    background-image: url(../images/Box\ Notícias.png);
}

#News{
    color: white;

    font-family:"TitilliumWeb-Black";
    font-size: 18px;
    letter-spacing: 0;
    text-transform: uppercase;

    width: 50px;
    height: 27px;

    position: relative;
    left: calc(50% - 25px);
    top: 50px;
}

#HRNews{
    background-color: #F9AA01;

    border: 1px solid transparent;

    width: 180px;

    position: relative;
    left: calc(50% - 90px);
    top: 70px;
}

/* Formatation All BoxNews */

.BOXNews-1{
    position: relative;
    top: 130px;
}

.BOXNews-2{
    position: relative;
    top: 260px;
}

.BOXNews-3{
    position: relative;
    top: 390px;
}

.BOXNews-4{
    position: relative;
    top: 520px;
}

.BOXNews-3-2{
    position: relative;
    top: 650px;
}

.BOXNews-4-2{
    position: relative;
    top: 780px;
}

.BOXNews-1-2{
    position: relative;
    top: 910px;
}


.BOXNews-2-2{
    position: relative;
    top: 1040px;
}

#BoxNews{
    width: 335px;
    height: 387px;

    background-image: linear-gradient(151.53deg, rgba(37, 26, 52, 0.34) 0%, rgba(5, 1, 12, 0.79) 100%);
    border-radius: 8px;

    position: absolute;
    z-index: 10;
}

#IMGNews{
    border-radius: 8px;

    position: relative;
    z-index: 21;
}

/* Formatation Texts In BoxNews */

h4{
    color: white;

    font-family: "TitilliumWeb-Bold";
    font-size: 24px;

    position: relative;
    top: 18px;
    left: 20px;

    z-index: 22;
}

#Lorem{
    width: 280px;

    font-family: "Quick-Sand";
    font-size: 16px;
    text-align: justify;

    color: white;

    position: relative;
    left: 20px;
    top: 28px;
    z-index: 23;
}

/****************************************************************************FOOTER*****************************************************/

footer{
    background-color: #1b1426;

    height: 1530px;
    width: 100%;
}

/* Section Principal */

#logo-footer{
    width: 143px;
    height: 45px;

    position: relative;
    left: calc(50% - 71.5px);
    top: 20px;
}

#AboutGamer{
    font-family: "Quick-Sand";
    font-size: 16px;
    text-align: justify;

    color: white;

    position: relative;
    top: 50px;
}

.MidiasFooter{
    width: 100%;

    display: flex;
    justify-content: space-between;

    position: relative;
    top: 150px;
}

h5{
    font-family: Inter;
    font-size: 30px;

    color: white;
}

#hrfooter{
    background-color: #F9AA01;

    border: 1px solid transparent;

    width: 120px;
}


/* Section UnsefullLinks */


.UsefulLinksFooter{
    position: relative;
    top: 200px;
}

ul.Links{
    display: flex;
    flex-wrap: wrap;

    margin-top: 30px;
}

ul{
    list-style: none;
}

li:before{
   content: "\2015";
   margin-right: 10px;
   color: #F9AA01;
}

li{
    color: white;

    font-family: "TitilliumWeb-Bold";
    font-size: 16px;

    width: 110px;
    margin-bottom: 20px;
    margin-left: 2px;
}

/* Section ContactsFooter */

.ContactsFooter{
    position: relative;
    top: 320px;
}

footer .ContactsFooter p{
    font-family:TitilliumWeb-Bold;
    font-size: 16px;

    color: white;
}

#first{
    margin-top: 50px;
}

footer .ContactsFooter span{
    font-family:TitilliumWeb-Bold;
    font-size: 16px;

    color: #F9AA01;
}


/* Section Footer Newsletter */

.NewFooter{
    position: relative;
    top: 380px;
}

#form{
    box-sizing: border-box;
    border-radius: 8px;

    width: 300px;
    height: 40px;

    margin-top: 30px;

    background: linear-gradient(90deg, rgba(239, 239, 239, 0.6) 0.7%, rgba(239, 239, 239, 0.1) 100%);
    backdrop-filter: blur(3px);

    margin-left: 0;
}

input::placeholder {
    font-family: "Quick-Sand";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    display: flex;
    align-items: center;

    color: white;

    padding-left: 6px;
}

button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 71px;

    background: #F9AA01;
    border-radius: 8px;

    width: 300px;
    height: 40px;

    margin-top: 15px;

    font-family: TitilliumWeb-Bold;
    font-size: 24px;
}

footer .rights p{
    color: white;

    font-family: Titillim-Web;
    font-size: 16px;

    width: 262px;

    position: relative;
    top: 370px;
    left: calc(50% - 131px);
}

#background-vector{
    width: 40px;
    height: 40px;

    background-color: #F9AA01;

    border-radius: 8px;

    position: relative;
    top: 300px;
    left: 300px;
}

#vector{
    position: relative;
    top: 337px;
    left: 307px;

    z-index: 100;
}

/****************************************** Desktops >=1200px *******************************************/
@media screen and (min-width: 1200px) {
    .layout-grid{
        width: 100%;
        max-width: 1200px;
    }

    /* HEADER */
    header{
        position: static;
    }

    /* MAIN */
    main{
        margin-top: 0;
    }
}
